.additional {
  margin-bottom: 60px;
}

.additional__title {
  margin-bottom: 24px;
}


.additional-item__title {
  margin-bottom: 10px;
}

.additional-item__info {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.additional-item__info-name {
    margin: 0 0 4px 0;
    text-align: left;
  }

.additional-item__info-value {
    margin: 0 0 4px 0;
    text-align: right;
  }
