.how-it-works {
  margin-bottom: 48px;
  padding: 0px 20px 0px 20px;
}

.how-it-works__title {
  margin-bottom: 40px;
}

.how-it-works__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.how-it-works__item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0px;
  }
}
