$accent: #68b738;
$text: #000000;
$text-secondary: #444444;
$white: #ffffff;
$text-white: #ffffff;
$background-light: #f2f2f2;
$background-dark: #eaeaea;
$border: #e7e7e7;
$divider: #cdcdcd;
$gray1: #666666;
$gray2: #cdcdcd;
