$accent: #68B738;
$text: #000;
$text-secondary: #444444;
$white: #fff;
$text-white: #fff;
$background-light: #F2F2F2;
$background-dark: #EAEAEA;
$border: #E7E7E7;
$divider: #CDCDCD;
$gray1: #666666;
$gray2: #CDCDCD;
